# General
*.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
*.log

# Cache objects
packer_cache/

# Crash log
crash.log

# For built boxes
*.box
suite-crm/suitecrm.tar.gz
